# Token du bot Discord
DISCORD_TOKEN=votre_token_discord_ici

# ID du client Discord (Optionnel, par défaut: l'ID de production)
CLIENT_ID=1466415254203404433

# Port pour l'API Web (Optionnel, par défaut: 5000)
PORT=5000