DISCORD_TOKEN=insert_token_discord

CLIENT_ID=1466415254203404433

PORT=5000

CLIENT_SECRET=your_client_secret_id

SESSION_SECRET=your_client_password

CALLBACK_URL=url_to_link_auth_and_website

STEAM_COUNTRY=US